/* google font */
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+SC:wght@300;500;700&family=Edu+VIC+WA+NT+Beginner&family=Ibarra+Real+Nova:ital,wght@0,400;0,500;1,500&family=Oswald:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 400px;
}

/* css color */
:root {
  --primary-color: #f36b3b;
}
/***************************header css style  */

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://demo.web3canvas.com/themeforest/unisco/images/slider-3.jpg");
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav_links {
  flex: 1;
  text-align: right;
}
.nav_links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav_links ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}
.nav_links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f36b3b;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav_links ul li:hover::after {
  width: 100%;
}
.text_box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text_box h1 {
  font-size: 62px;
}
.text_box p {
  margin: 10px 0 40px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.banner_btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.banner_btn:hover {
  border: 1px solid #f36b3b;
  background: #f36b3b;
  transition: 1s;
}
nav .close {
  margin-top: 5%;
  margin-left: 7%;
}
nav .fas {
  display: none;
}

/********************cources style */
.courses {
  text-align: center;
  padding-top: 100px;
}
.courses_row {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.courses h1 {
  font-size: 36px;
  font-weight: 800;
}
.courses .heading_orange {
  color: #f36b3b;
}
.courses p {
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
  margin-bottom: 30px;
}
.courses .row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course_col {
  flex-basis: 31%;
  background: #f3f0f0;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px 12px;
  box-sizing: border-box;
}
.course_col h1 {
  text-align: center;
  font-weight: 600;
  color: #f36b3b;
  margin: 10px;
  font-size: 30px;
  transition: 0.5s;
}
.course_col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
/****************discover style */
.discover {
  text-align: center;
  padding-top: 50px;
}
.dicover_heading {
  font-size: 36px;
  color: #902c07;
}
.discover p {
  font-size: 15px;
  color: gray;
}
.discover_row {
  width: 75%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.discover_col {
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  height: 350px;
}
.discover_col img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  height: 350px;
}
.layer:hover {
  background: rgba(254, 215, 170, 0.7);
}
.layer .layer_tittle {
  width: 100%;
  color: #902c07;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover .layer_tittle {
  bottom: 49%;
  opacity: 1;
}
/************************facilities style */
.facilities h1 {
  text-align: center;
}
.facilities_row {
  width: 75%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.facilities_col {
  background: #f3f0f0;
  border-radius: 10px;
}

.facilities_col img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.facilities_info {
  padding: 30px;
}
.facilities_info h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.facilities_info p {
  color: gray;
  margin-bottom: 20px;
}
.facilities_btn {
  text-decoration: none;
  color: #902c07;
  border: 1px solid #902c07;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}
/******************testimonial style */
.testimonial {
  padding: 50px 0;
}
.testimonial {
  text-align: center;
  color: #902c07;
  font-size: 22px;
}
.testimonial_row {
  width: 75%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.testimonial_col {
  padding: 20px;
  background: #f3f0f0;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  cursor: pointer;
  display: flex;
}

.testimonial_col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimonial_info p {
  padding: 0;
  color: gray;
  font-size: 18px;
}
.testimonial_info h3 {
  padding: 20px 0;
  font-size: 22px;
}
.testimonial_info i {
  color: rgb(221, 165, 25);
}
/*****************online courses  */
.online_courses {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://ng-educal.vercel.app/assets/img/page-title/page-title.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.online_courses h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}

.online_courses_btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  font-size: 13px;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.online_courses_btn:hover {
  border: 1px solid #f36b3b;
  background: #f36b3b;
  transition: 1s;
}

/**********************footer style */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4 {
  margin: 24px 0;
  font-size: 30px;
}
.icons .fab {
  color: #f36b3b;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  font-size: 25px;
}

/*  media query for medium devices*/
@media only screen and (max-width: 1100px) {
  .courses_row {
    grid-template-columns: repeat(2, 1fr);
  }
  .discover_row {
    grid-template-columns: repeat(2, 1fr);
  }
  .facilities_row {
    grid-template-columns: repeat(2, 1fr);
  }
  .courses .row {
    width: 75%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .testimonial_row {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*  media query for small devices*/
@media only screen and (max-width: 768px) {
  .text_box h1 {
    font-size: 22px;
  }

  .nav_links ul li {
    display: block;
  }
  .nav_links ul li a {
    color: black;
  }
  .nav_links {
    position: absolute;
    background: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    transition: 1s;
    right: -100vw;
    text-align: left;
    z-index: 2;
  }
  .courses_row {
    grid-template-columns: repeat(1, 1fr);
  }
  .discover_row {
    grid-template-columns: repeat(1, 1fr);
  }
  .courses .row {
    width: 75%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  nav .fas {
    display: block;
    color: #f36b3b;
  }
  .nav_links ul {
    padding: 30px;
  }
  .row {
    flex-direction: column;
  }
  .facilities_row {
    grid-template-columns: repeat(1, 1fr);
  }
  .testimonial_row {
    grid-template-columns: repeat(1, 1fr);
  }
  .online_courses h1 {
    font-size: 24px;
  }
}

/* about us page */
.sub_header {
  height: 50vh;
  width: 100%;
  background-image: url("https://demo.web3canvas.com/themeforest/unisco/images/slider.jpg");
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  color: #f3f0f0;
}

.sub_header h1 {
  margin-top: 150px;
  color: aliceblue;
  font-size: 36px;
}
.about_us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.about_us .row {
  display: flex;
}
.about_col {
  flex-basis: 48%;
  padding: 20px;
}
.about_col h1 {
  font-size: 30px;
  color: #902c07;
  margin: 10px 0;
}
.about_col p {
  margin-bottom: 20px;
}
.about_btn {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  border: 2px solid #f36b3b;
  font-size: 15px;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.about_btn:hover {
  border: 1px solid #192e49;
  background: #192e49;
  transition: 1s;
}
.about_col img {
  width: 100%;
}

/* *******************cources page */
.courses_header {
  height: 50vh;
  width: 100%;
  background-image: url("https://ng-educal.vercel.app/assets/img/page-title/page-title.jpg");
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  color: #f3f0f0;
}
.courses_header h1 {
  margin-top: 150px;
  color: aliceblue;
  font-size: 36px;
}

/* *******************blog page */
.blog_header {
  height: 50vh;
  width: 100%;
  background-image: url("https://ng-educal.vercel.app/assets/img/page-title/page-title-3.jpg");
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  color: #f3f0f0;
}
.blog_header h1 {
  margin-top: 150px;
  color: aliceblue;
  font-size: 36px;
}
.blogs_info {
  width: 60%;
  margin: 0 auto;
  padding: 70px 0;
}
.blogs_info h1 {
  color: #902c07;
  font-size: 35px;
  text-align: center;
  padding: 10px 0;
}
.blogs_info p {
  font-size: 18px;
  color: #192e49;
}

.review {
  width: 60%;
  margin: 0 auto;
  background-color: #f3f4f8;
  padding: 15px 30px;
  overflow: hidden;
}
.review_info p {
  font-size: 18px;
  color: #192e49;
  margin: 12px 0;
}
.review_info h1 {
  font-size: 30px;
  color: #902c07;
}
.review_img {
  float: right;
}

/**************************************contact page  */

.contact_header {
  height: 50vh;
  width: 100%;
  background-image: url("https://rn53themes.net/themes/demo/education-master/images/slider/2.jpg");
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  color: #f3f0f0;
}
.contact_header h1 {
  margin-top: 150px;
  color: aliceblue;
  font-size: 36px;
}

.contact {
  position: relative;

  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 36px;
  color: #f36b3b;
}
.contact .content p {
  font-size: 16px;
  color: #192e49;
}
.contaner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.contact_info {
  width: 50%;
  display: flex;

  flex-direction: column;
}
.contact_info .contact_links {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.icons .fas {
  min-height: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #192e49;
  font-size: 30px;
}
.contact_links .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;

  flex-direction: column;
}
.text h3 {
  font-size: 25px;
  color: #902c07;
}
.text p {
  font-size: 20px;
  color: #192e49;
}
.contact_form {
  width: 40%;
  padding: 40px;
  background: #f3f0f0;
}
.contact_form h1 {
  font-size: 25px;
  padding-bottom: 10px;
  color: #192e49;
}
.input_box {
  position: relative;
  width: 100%;
}
.input_box input,
textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #192e49;
  outline: none;
  resize: none;
  background: #f3f0f0;
}
.input_box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #192e49;
}
.input_box input:focus ~ span,
.input_box input:valid ~ span,
.input_box textarea:focus ~ span,
.input_box textarea:valid ~ span {
  color: #902c07;
  font-size: 12px;
  transform: translateY(-20px);
}
.input_box input[type="submit"] {
  width: 100px;
  background: #ca4d1f;
  color: #192e49;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
@media only screen and (max-width:991px){
  .contact{
    padding: 50px;
  }
  .contaner{
    flex-direction: column;
  }
  .contact_info{
    margin-bottom: 50px;
    width: 100%;
  }
  .contact_form{
    width: 100%;
  }
}
