/* google font */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+SC:wght@300;500;700&family=Edu+VIC+WA+NT+Beginner&family=Ibarra+Real+Nova:ital,wght@0,400;0,500;1,500&family=Oswald:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ibarra Real Nova', serif;
  font-weight:400px ;
}
/***************************header css style  */

.header{
min-height: 100vh;
width: 100%;
background-image:url("https://rn53themes.net/themes/demo/education-master/images/slider/1.jpg") ;
opacity: 0.8;
background-position: center;
background-size: cover;
position: relative;
}

